@font-face {
  font-family: 'Neue Machina';
  src: url('./fonts/NeueMachina-Light.418f63ac88af6ed51de9.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Machina';
  src: url('./fonts/NeueMachina-Regular.2dabb3622c2ec78c26ea.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Machina';
  src: url('./fonts/NeueMachina-Bold.d49ee994b16c7a8be96e.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Machina';
  src: url('./fonts/NeueMachina-Ultrabold.5310e4a5401b5d25eeba.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  --chakra-colors-primary: #409c15;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Neue Machina", sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}



button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.chakra-link:hover {
  text-decoration: underline ;
  color: var(--chakra-colors-primary) ;
}